@{
    ViewData["Title"] = "Home Page";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true">

    <title>DataBase</title>
</head>
<body style="margin: 0%">
    <div class="section">
        <div class="content">
            @* <div><h3>Huynh Gia Hung     2252274</h3></div>
            <div><h3>Le Cong Minh Khang 2252295</h3></div>
            <div><h3>Nguyen Hoang Quan  2252681</h3></div> *@
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            @* <h1>Schedule <span>Management</span></h1> *@

        </div>
    </div>
</body>